body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-left: 15px;
  padding-top: 43px;
  min-height: 100vh;
}

p {
  font-size: 3rem;
  color: white;
  margin-bottom: 0;
}

img {
  margin-top: 12px;
  max-width: 500px;
  height: auto;
}